/* Write your CSS here */
* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
}
.heading {
  color:  #000000;
    font-family: 'Roboto';
}
.light {
  color: #000000;
  background-color: #ffffff;

  border-radius: 10px;
  font-family: 'Bree Serif';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 8px;
  width: 80%;
  max-width: 200px;
}
.dark {
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  font-family: 'Bree Serif';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 8px;
  width: 80%;
  max-width: 200px;
}
.btn {
  height: 30 px;
  width: 100 px;
  border-radius: 10px;
}
